{% extends "base.html" %}
{% block content %}

<div class="content">

    <h2>Welcome to the official Government Office Notice Portal</h2>
    <p>This website provides access to all public notices.</p>

    <div class="cards">

        <a href="/notices" class="card">
            📄 <br><br>
            View Notices
            <p>See all published government notices</p>
        </a>

        <a href="/login" class="card">
            👨‍💼 <br><br>
            Staff Login
            <p>Authorized staff upload notices</p>
        </a>

        <a href="/notices" class="card">
            📢 <br><br>
            Latest Notice
            <p>Recent circulars and orders</p>
        </a>

    </div>

</div>

{% endblock %}
